.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess
db.php
secret.php
*.com
*.old
admin_submit.php
/refresh_session.php
